
/Library/Artifacts
/Library/Bee
/Library/BurstCache
Library/EditorInstance.json
/Logs
/Library
Assets/Plugins/Sirenix/Odin Inspector/Config/Editor/TypeRegistryUserConfig.asset
Assets/Plugins/Sirenix/Odin Inspector/Config/Editor/TypeRegistryUserConfig.asset.meta
Library/ArtifactDB
Library/Bee/1900b0aEDbg-inputdata.json
Library/Bee/1900b0aEDbg.dag
Library/Bee/1900b0aEDbg.dag_fsmtime
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp-Editor.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp-Editor.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/1900b0aEDbg.dag/post-processed/Assembly-CSharp-Editor.dll
Library/Bee/artifacts/1900b0aEDbg.dag/post-processed/Assembly-CSharp-Editor.pdb
Library/Bee/artifacts/1900b0aEDbg.dag/post-processed/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aEDbg.dag/post-processed/Assembly-CSharp.pdb
Library/Bee/backend1.traceevents
Library/Bee/backend2.traceevents
Library/Bee/buildprogram0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/BurstCache/JIT/Hashes/a110ffe6b760e4b56cb86ae44bc7857d.bhc
Library/BurstCache/JIT/Hashes/f890d1fdde3a07f1cb7ddaf50227f1a0.bhc
Library/com.unity.ide.rider/PersistedState.asset
Library/EditorOnlyScriptingSettings.json
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker2.log
Logs/AssetImportWorker3.log
Logs/AssetImportWorker4.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
obj/Debug/sc.stylizedwater2.editor.csproj.AssemblyReference.cache
obj/Debug/sc.stylizedwater2.runtime.csproj.AssemblyReference.cache
obj/Debug/Sirenix.OdinInspector.Modules.Unity.Addressables.csproj.AssemblyReference.cache
obj/Debug/Sirenix.OdinInspector.Modules.UnityMathematics.csproj.AssemblyReference.cache
obj/Debug/Zenject-Editor.csproj.AssemblyReference.cache
obj/Debug/Zenject-IntegrationTests-Editor.csproj.AssemblyReference.cache
obj/Debug/Zenject-IntegrationTests.csproj.AssemblyReference.cache
obj/Debug/Zenject-PoolMonitor-Editor.csproj.AssemblyReference.cache
obj/Debug/Zenject-ReflectionBaking-Editor.csproj.AssemblyReference.cache
obj/Debug/Zenject-TestFramework.csproj.AssemblyReference.cache
obj/Debug/Zenject-UnitTests-Editor.csproj.AssemblyReference.cache
obj/Debug/Zenject.csproj.AssemblyReference.cache
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-2bf5d6991909cae4484998b200b327e7
Temp/UnityLockfile
Library/ArtifactDB
Library/Bee/fullprofile.json
Library/com.unity.ide.rider/PersistedState.asset
Library/Search/transactions.db
Library/SourceAssetDB
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
